h1 {
    font-size: xx-large;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: darkgray;
    border: solid;
   margin-bottom: 50px;
        margin-top: 60px;
        color: rgb(211, 140, 7);
       
    }



h2{
font-size: large;
font-family: Verdana, Geneva, Tahoma, sans-serif;
color: olive;
}

body{
    background-color: lightgray;
}

li{
   
    text-align: center;
    word-spacing: 20px;
padding: 30px;
border-width: 2px;
border: solid;
border-color: lightyellow;
font-family: cursive;
font-size: 25px;
color: saddlebrown;
}

img{
    width: 200px;
    height: 200px;
    border-width: 20px;
    border-color: linen;
}
footer{
    background-color: mediumpurple;
    text-align: center;
    font-weight: lighter;
    font-style: inherit;
}
a{
    font-size: x-large;
    color: maroon;
    font-weight: bolder;
    
}

