h1 {
    font-size: xx-large;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: darkgray;
    border: solid;
}

body{
    background-color: lightgray;
}

table{
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
   
}
th{
    border-style: solid;
    border-width: 5px 5px 5px 5px ;
    font-weight: bold;
    
}

td{
    border-width: 1px 1px 1px 1px ;
    border-style: solid;
   
}

form{
    padding-bottom: 100px;
    color: rgb(146, 144, 9);
    font-size: 20px ;
    font-family: 'Acme', sans-serif;    
    
}